<div class="dashboard">
{{#if msg}}
  <div class="modalss" >
    <div class="modal_content">
      {{#if msg.img}}
      <img src="https://www.kindpng.com/picc/m/431-4312134_transparent-success-icon-hd-png-download.png" alt="">
      {{else }}
      <img src="https://martinbrainon.com/inicio/wp-content/uploads/2017/04/false-2061132_1280.png" alt="">
 
      {{/if}}
      
      <h1 class="content_title">data successfuly update</h1>
      <p class="content_decr"></p>
      <div class="btn_group">
        <a href="" class="back_to success">OK</a>
        <a href="" class="cancel_to danger">Cancel</a>
      </div>
    </div>
  </div>
  {{else }}
    {{>images}}
  {{/if}}
  
  {{>sidebar}}
  {{>nav}}
  <div class="contents">
      {{#if len}}

      <div class='contact_counter' >
        <div class="counter_box">
          <Link to="/massage">
            <div class="counter_item">
                  <h1>
                     {{len}}
                  </h1>
                  <p>Massage</p>
            </div>
          </Link>
          <Link to="/questions">
            <div class="counter_item">
                  <h1>
                      0
                  </h1>
                  <p>Questions</p>
            </div>
          </Link>
          <Link to="/notifications">
            <div class="counter_item">
                  <h1>
                      0
                  </h1>
                  <p>Notifications</p>
            </div>
          </Link>
        </div>
        
      </div>
          
      {{/if}}
      {{#if clients}}
      <div class="msg_container">
{{#each clients}}
        <div class="container-2">
        <p class="number"><i class="fa-solid fa-phone text-primary fs-5"></i></p>
        <h2>{{this.name}}</h2>
        <a rel="noreferrer" target="_blank" href="tel:{{this.email}}">{{this.email}}</a>
        <p class="text">{{this.massage}}</p>
        <div class="buttons">
            <button class='btn-1'>
              <a href="/contact-delete/{{this.id}}">Delete</a>
            </button>
            
        </div>
        
        </div>
      {{/each}}
      </div>
      {{/if}}
      {{#if slider}}
        <div class="btn_div">
            <a href="/add-slider">Add Slider Banner</a>
        </div>
      {{>slider}}
      {{/if}}
      {{#if user}}
      {{>setting}}
      {{/if}}
      {{#if sliderForm}}
      {{>slideform}}
      {{/if}}


  </div>
  <script type="text/javascript"> 
    document.querySelector(".modal_content").addEventListener("click",(e)=>{
      e.preventDefault()
      e.stopPropagation()
    })
    document.querySelector(".modalss").addEventListener("click",(e)=>{
      document.querySelector(".modalss").style.display= "none"
    })
    document.querySelector(".cancel_to").addEventListener("click",(e)=>{
      document.querySelector(".modalss").style.display= "none"
    })
    document.querySelector(".back_to").addEventListener("click",(e)=>{
      document.querySelector(".modalss").style.display= "none"
    })
    
  </script>
</div>